h1 {
 font-size: 1.2em; 
 text-align: center;
}

button {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  padding: 8px 20px !important;
}


button:hover {
  box-shadow: none !important;
  outline: none !important;
  background-color: blue;
  color: white;
}

section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}